.navbar {

    #search-icon,
    #notification {
        cursor: pointer;
    }

    .logo {
        cursor: pointer;
    }
}

.section-tvshows {
    #menu-bars,
        #menu-dots {
        cursor: pointer;
        height: 1.2rem;
        }
}

main {
    .img-fluid {
            cursor: pointer;
        }
}

footer {

    margin-top: 8rem;
    margin-bottom: 30px;
    

    #facebook-logo,
    #instagram-logo,
    #twitter-logo,
    #youtube-logo {
        cursor: pointer;
            height: 2rem;
            margin-right: 1.5rem;
    }

    .footer-text{
        color: #5A5A5A;
        cursor: pointer;
    }

    .text-secondary {
        font-size: 0.8rem;
    }

}

// animazione film
.copertina:hover {
    animation: play 1s ease;
}

@keyframes play {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}



.main-pa {

    .avatar-pa {
        display: block;
            position: relative;
            height: 100%;
            
          
            >img:first-child{
                height: 10rem
            }
        
    }

    .change-avatar {
        height: 35px;
        box-shadow: 3px 3px 7px black;
        left: 0;
        bottom: 1rem;
        cursor: pointer;
    }

    .name-pa {
        width: 20rem;
      padding: 10px;
    }

 .form-select {
    cursor: pointer;
    width: 10rem;
 }

 .maturity-ratings {
    background-color: #5A5A5A;
    width: 12rem;
 }

 .form-group {
     display: block;
     margin-bottom: 15px;
 }

 .form-group input {
     padding: 0;
     height: initial;
     width: initial;
     margin-bottom: 0;
     display: none;
     cursor: pointer;
 }

 .form-group label {
     position: relative;
     cursor: pointer;
 }

 .form-group label:before {
     content: '';
     background-color: black;
     border: 2px solid white;
     padding: 10px;
     display: inline-block;
     position: relative;
     vertical-align: middle;
     cursor: pointer;
     margin-right: 10px;
 }

 .form-group input:checked+label:after {
     content: '';
     display: block;
     position: absolute;
     top: 2px;
     left: 9px;
     width: 6px;
     height: 14px;
     border: solid white;
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
 }

}


// media query mobile e tablet per area personale 

@media (max-width: 991px) {
    .main-pa .d-flex {
        flex-direction: column;
        align-items: center;
    }

       .main-pa .name-pa {
            width: 10rem;
        }

        .main-pa {
            margin-inline: auto;
        }
}