.navbar {

    #search-icon,
    #notification {
        cursor: pointer;
    }
}

.section-tvshows {
    #menu-bars,
        #menu-dots {
        cursor: pointer;
        height: 1.2rem;
        }
}

main {
    .img-fluid {
            cursor: pointer;
        }
}

footer {

    margin-top: 8rem;
    margin-bottom: 30px;
    

    #facebook-logo,
    #instagram-logo,
    #twitter-logo,
    #youtube-logo {
        cursor: pointer;
            height: 2rem;
            margin-right: 1.5rem;
    }

    .footer-text{
        color: #5A5A5A;
        cursor: pointer;
    }

    .text-secondary {
        font-size: 0.8rem;
    }

}